<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Events Fragment</title>
</head>
<body>
    

    <!--Modal new events--> 
    <div th:fragment="new_events">
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nuevo Evento</h1>
                <button type="button" class="btn-close" onclick="nomalizedForm();" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="#" th:action="@{/events/new}" th:object="${event}" method="post">
                    <div class="modal-body">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="title" required><br><br>
                        <label for="description">Descripción:</label>
                        <textarea id="description" class="form-control" name="description" required></textarea><br><br>
                        <label for="location">Ubicación:</label>
                        <textarea id="location" class="form-control" name="location" required></textarea><br><br>
                        <label for="dateTime">Fecha y hora:</label>
                        <input type="datetime-local" class="form-control" id="dateTime" name="dateTime" required><br><br>
                        <!-- <input type="submit" value="Create"> -->
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                    </div>
                    <div class="modal-footer d-flex justify-content-evenly">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="nomalizedForm();">Cancelar</button>
                        <input type="submit" class="btn btn-primary" value="Create">
                    </div>
                </form>
            </div>
            </div>
        </div>

    </div>
</body>
</html>